.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  font-size: 18px;
}

.WeatherForecast-temperature-max {
  font-size: 18px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
  font-size: 16px;
}
